## Heart Analysis Overview

In [ ]:
import pandas as pd
import numpy as np

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/12/18 10:55:28 WARN Utils: Your hostname, Xuan-Nguyet-Nguyen.local, resolves to a loopback address: 127.0.0.1; using 192.168.1.112 instead (on interface en0)
25/12/18 10:55:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/18 10:55:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/12/18 10:55:42 WARN StandaloneAppClient$ClientEndpoint: Failed to connect to master spark-master:7077
org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.SparkThreadUtils$.awaitResult(SparkThreadUtils.scala:53)
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:342)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	at org.apache.spark.rpc.RpcEnv.setupEndpointRefByURI(RpcEnv.scala:102)
	at org.apache.spark.rpc.RpcEnv.setupEndpointRef(RpcEnv.scala:110)
	at org.apache.spark.deploy.client.StandaloneAppClient$ClientEndpoint$$anon$1.run(StandaloneAppClient.scala:110)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:539)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:842)
Caused by: java.io.IOException: Failed to connect to spark-master/<unresolved>:7077
	at org.apache.spark.network.client.TransportClientFactory.createClient(TransportClientFactory.java:305)
	at org.apache.spark.network.client.TransportClientFactory.createClient(TransportClientFactory.java:225)
	at org.apache.spark.network.client.TransportClientFactory.createClient(TransportClientFactory.java:237)
	at org.apache.spark.rpc.netty.NettyRpcEnv.createClient(NettyRpcEnv.scala:207)
	at org.apache.spark.rpc.netty.Outbox$$anon$1.call(Outbox.scala:202)
	at org.apache.spark.rpc.netty.Outbox$$anon$1.call(Outbox.scala:198)
	... 4 more
Caused by: java.net.UnknownHostException: spark-master
	at java.base/java.net.InetAddress$CachedAddresses.get(InetAddress.java:801)
	at java.base/java.net.InetAddress.getAllByName0(InetAddress.java:1532)
	at java.base/java.net.InetAddress.getAllByName(InetAddress.java:1384)
	at java.base/java.net.InetAddress.getAllByName(InetAddress.java:1305)
	at java.base/java.net.InetAddress.getByName(InetAddress.java:1255)
	at io.netty.util.internal.SocketUtils$8.run(SocketUtils.java:156)
	at io.netty.util.internal.SocketUtils$8.run(SocketUtils.java:153)
	at java.base/java.security.AccessController.doPrivileged(AccessController.java:569)
	at io.netty.util.internal.SocketUtils.addressByName(SocketUtils.java:153)
	at io.netty.resolver.DefaultNameResolver.doResolve(DefaultNameResolver.java:41)
	at io.netty.resolver.SimpleNameResolver.resolve(SimpleNameResolver.java:61)
	at io.netty.resolver.SimpleNameResolver.resolve(SimpleNameResolver.java:53)
	at io.netty.resolver.InetSocketAddressResolver.doResolve(InetSocketAddressResolver.java:55)
	at io.netty.resolver.InetSocketAddressResolver.doResolve(InetSocketAddressResolver.java:31)
	at io.netty.resolver.AbstractAddressResolver.resolve(AbstractAddressResolver.java:106)
	at io.netty.bootstrap.Bootstrap.doResolveAndConnect0(Bootstrap.java:220)
	at io.netty.bootstrap.Bootstrap.access$000(Bootstrap.java:47)
	at io.netty.bootstrap.Bootstrap$1.operationComplete(Bootstrap.java:189)
	at io.netty.bootstrap.Bootstrap$1.operationComplete(Bootstrap.java:175)
	at io.netty.util.concurrent.DefaultPromise.notifyListener0(DefaultPromise.java:590)
	at io.netty.util.concurrent.DefaultPromise.notifyListenersNow(DefaultPromise.java:557)
	at io.netty.util.concurrent.DefaultPromise.notifyListeners(DefaultPromise.java:492)
	at io.netty.util.concurrent.DefaultPromise.setValue0(DefaultPromise.java:636)
	at io.netty.util.concurrent.DefaultPromise.setSuccess0(DefaultPromise.java:625)
	at io.netty.util.concurrent.DefaultPromise.trySuccess(DefaultPromise.java:105)
	at io.netty.channel.DefaultChannelPromise.trySuccess(DefaultChannelPromise.java:84)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.safeSetSuccess(AbstractChannel.java:988)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.register0(AbstractChannel.java:515)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.access$200(AbstractChannel.java:428)
	at io.netty.channel.AbstractChannel$AbstractUnsafe$1.run(AbstractChannel.java:485)
	at io.netty.util.concurrent.AbstractEventExecutor.runTask(AbstractEventExecutor.java:173)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:166)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:472)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:569)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:998)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	... 1 more

In [ ]:
# Define
schema = StructType([
    StructField("age", IntegerType(), True),
    StructField("sex", IntegerType(), True),
    StructField("cp", IntegerType(), True),
    StructField("trestbps", IntegerType(), True),
    StructField("chol", IntegerType(), True),
    StructField("fbs", IntegerType(), True),
    StructField("restecg", IntegerType(), True),
    StructField("thalach", IntegerType(), True),
    StructField("exang", IntegerType(), True),
    StructField("oldpeak", DoubleType(), True),
    StructField("slope", IntegerType(), True),
    StructField("ca", IntegerType(), True),
    StructField("thal", IntegerType(), True),
    StructField("target", IntegerType(), True)
])

# Read CSV data
print("Reading heart data...")
heart_df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv("/opt/spark-data/input/heart.csv")

NameError: name 'StructType' is not defined

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       886 non-null    int64
 1   sex       886 non-null    int64
 2   cp        886 non-null    int64
 3   trestbps  886 non-null    int64
 4   chol      886 non-null    int64
 5   fbs       886 non-null    int64
 6   restecg   886 non-null    int64
 7   thalach   886 non-null    int64
 8   exang     886 non-null    int64
 9   oldpeak   886 non-null    float64
 10  slope     886 non-null    int64
 11  ca        886 non-null    int64
 12  thal      886 non-null    int64
 13  target    886 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 97.0 KB

In [11]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000,886.000000
mean,54.007901,0.683973,1.005643,132.117381,247.497743,0.168172,0.495485,149.492099,0.310384,1.083296,1.424379,0.714447,2.278781,0.564334
std,9.126292,0.465186,1.024542,16.807511,47.209995,0.374230,0.526669,23.921327,0.462912,1.147935,0.556861,1.028825,0.572576,0.496124
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.000000,0.000000,0.000000,120.000000,212.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,54.000000,1.000000,1.000000,130.000000,245.000000,0.000000,0.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,60.000000,1.000000,2.000000,140.000000,274.000000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,206.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [8]:
df["age"].min(), df["age"].max()

(29, 77)

In [9]:
df["ca"].unique()

array([0, 2, 1, 3, 4])

In [13]:
def divide_age_group(df: pd.DataFrame) -> pd.DataFrame:
    df['age_group'] = pd.cut(df['age'],
                             bins=[28, 37, 45, 53, 61, 69, 77],
                             labels=['29-37', '38-45', '46-53', '54-61', '62-69', '70-77'])
    return df


eda = divide_age_group(df.copy())
eda.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,age_group
0,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0,46-53
1,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1,70-77
2,71,0,1,160,303,0,1,163,0,0.4,2,2,2,1,70-77
3,71,0,1,160,304,0,1,164,0,0.4,2,2,2,1,70-77
4,71,0,1,160,305,0,1,165,0,0.4,2,2,2,1,70-77
5,71,0,1,160,306,0,1,166,0,0.4,2,2,2,1,70-77
6,71,0,1,160,301,0,1,161,0,0.4,2,2,2,1,70-77
7,71,0,1,160,300,0,1,160,0,0.4,2,2,2,1,70-77
8,71,0,1,160,299,0,1,159,0,0.4,2,2,2,1,70-77
9,71,0,1,160,298,0,1,158,0,0.4,2,2,2,1,70-77

In [21]:
age_group = eda.groupby(['age_group', 'cp']).size().reset_index(name='counts')
age_group.cp = age_group.cp.map({
        0: 'Typical',
        1: 'Atypical',
        2: 'Non-anginal',
        3: 'Asymptomatic'
    })
age_group

/var/folders/ny/2lzy2xwx1rv8w7_1g3pf9nwh0000gn/T/ipykernel_5343/971462093.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_group = eda.groupby(['age_group', 'cp']).size().reset_index(name='counts')

   age_group            cp  counts
0      29-37       Typical       3
1      29-37      Atypical      19
2      29-37   Non-anginal       2
3      29-37  Asymptomatic       9
4      38-45       Typical      68
5      38-45      Atypical      13
6      38-45   Non-anginal      41
7      38-45  Asymptomatic      12
8      46-53       Typical      82
9      46-53      Atypical      34
10     46-53   Non-anginal      89
11     46-53  Asymptomatic      11
12     54-61       Typical     153
13     54-61      Atypical      57
14     54-61   Non-anginal     102
15     54-61  Asymptomatic       8
16     62-69       Typical      81
17     62-69      Atypical      12
18     62-69   Non-anginal      25
19     62-69  Asymptomatic      23
20     70-77       Typical      12
21     70-77      Atypical      11
22     70-77   Non-anginal      19
23     70-77  Asymptomatic       0

In [22]:
pivot_table = pd.pivot_table(age_group,
                             values='counts',
                             index='cp',
                             columns='age_group').rank(ascending=False, axis=0)
pivot_table

age_group     29-37  38-45  46-53  54-61  62-69  70-77
cp
Asymptomatic    2.0    4.0    4.0    4.0    3.0    4.0
Atypical        1.0    3.0    3.0    3.0    4.0    3.0
Non-anginal     4.0    2.0    1.0    2.0    2.0    1.0
Typical         3.0    1.0    2.0    1.0    1.0    2.0